.App {
  
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;

  /* overflow: scroll; */
  /* max-height: 500px; */
}

